<nav>
    <div id="menubar">
        <div class="hide-phone">
            <div class="nav hidethis" role="navigation">
                <div id="menuwrapper" class="wideclass">
                    <ul>
                        <li><a title="View the Home page" href="/">Home</a></li>
                        <li><a title="About the group" href="/about">About</a></li>
                        <li><a title="When we meet" href="/dates">Dates</a></li>
                        <li><a title="Where we meet" href="/venue">Venue</a></li>
                        <li><a title="List of previous talks" href="/previous">Previous Talks</a></li>
                        <li><a title="We are always looking for speakers" href="/speak">Give a talk</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>  <!-- end of hide-phone  -->

        <div class="tabhead">
            &nbsp;&nbsp;Falkirk Linux Group

            <label for="show-menu" class="show-menu">Menu</label>
            <input type="checkbox" id="show-menu" role="button">

            <ul id="menu">
                <li><a title="View the Home page" href="/">Home</a></li>
                <li><a title="About the group" href="/about">About</a></li>
                <li><a title="When we meet" href="/dates">Dates</a></li>
                <li><a title="Where we meet" href="/venue">Venue</a></li>
                <li><a title="List of previous talks" href="/previous">Previous Talks</a></li>
                <li><a title="We are always looking for speakers" href="/speak">Give a talk</a></li>
            </ul>
        </div>  <!-- end of tabhead -->
    </div>  <!-- end of menubar -->
</nav>

