<!-- This file is the homepage of the website. -->

<!DOCTYPE html>
<html>
<head>
  {{ partial "head.html" . }}

  <body class="theme-base-08" lang="en">

    {{ partial "header.html" . }}
    {{ partial "nav.html" . }}

  <div class="row">
    <div class="grid_12">
    <!-- See /layouts/indexes/category.html for explanation of this section -->
      <div class="wrap">
          <h2 class="post-title">What is FLUG?</h2>
          <p>
            Flug is a group of people who meet monthly and have talks etc.
          </p>
        </div>
      </div>
    </div>
  </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
